In [ ]:
#import libararies
import pandas as pd
import requests
import json

In [ ]:
#csv
csv_url = '/content/drive/MyDrive/Colab Notebooks/DATA engineering /de_2/boston_house_prices.csv'
df_csv = pd.read_csv(csv_url, skiprows=1)
print("First Few rows of the CSV Data:")
print(df_csv.head())

First Few rows of the CSV Data:
      CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  PTRATIO  \
0  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3
1  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8
2  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8
3  0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222     18.7
4  0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222     18.7

        B  LSTAT  MEDV
0  396.90   4.98  24.0
1  396.90   9.14  21.6
2  392.83   4.03  34.7
3  394.63   2.94  33.4
4  396.90   5.33  36.2

I will now download the `boston_house_prices.csv` file from a public URL and then load it into a pandas DataFrame.

In [ ]:
#excel
excel_url = '/content/drive/MyDrive/Colab Notebooks/DATA engineering /de_2/Employee Data.xlsx'
df_excel = pd.read_excel(excel_url)
print("Last few rows of the Excel Data:")
print(df_excel.tail())

Last few rows of the Excel Data:
       EEID       Job Title  Department        Business Unit  Gender  \
995  E03094     Sr. Analyst   Marketing  Speciality Products    Male
996  E01909         Analyst     Finance  Speciality Products  Female
997  E04398        Director   Marketing  Speciality Products    Male
998  E02521     Sr. Analyst     Finance  Speciality Products  Female
999  E03545  Vice President  Accounting            Corporate  Female

     Ethnicity  Age  Hire Date  Annual Salary  Bonus %        Country  \
995  Caucasian   33 2016-09-18          98427     0.00  United States
996      Asian   44 2010-05-31          47387     0.00          China
997      Asian   31 2019-06-10         176710     0.15  United States
998      Asian   33 2012-01-28          95960     0.00          China
999      Asian   63 2020-07-26         216195     0.31  United States

         City  Exit Date
995  Columbus        NaT
996   Chengdu 2018-01-08
997     Miami        NaT
998   Chengdu        NaT
999     Miami        NaT

In [ ]:
#TXT
txt_url = "https://www.gutenberg.org/files/1342/1342-0.txt"
response = requests.get(txt_url)
print(type(response))
txt_data = response.text
print(type(txt_data))
print("First 200 characters of the TXT Data:")
print(txt_data[:200])

<class 'requests.models.Response'>
<class 'str'>
First 200 characters of the TXT Data:
*** START OF THE PROJECT GUTENBERG EBOOK 1342 ***




                            [Illustration:

                             GEORGE ALLEN
                               PUBLISHER

In [ ]:
#JSON
#OPEN THE FILE
f = open("/content/drive/MyDrive/Colab Notebooks/DATA engineering /de_2/sample_users_with_id.json")
#returns JSON onject as a dictionary
data = json.load(f)
#interating through json
given_names = [user["given_name"]for user in data if "given_name" in user]
#print the names
print(given_names)
#closing the file
f.close()

['Hello', 'Hello1', 'John', 'Jane', 'Dummy']